<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>巧书后台首页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/ionicons.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/AdminLTE.css">
    <link rel="stylesheet" href="__PUBLIC__/css/_all-skins.css">
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-------------头部模板 header.html main-header begin-->
    <include file="./Public/Tpl/header.html" />
    <!-------------头部模板 header.html main-header end-->


    <!------------- 左侧菜单栏 leftMenu.html aside begin-->
    <include file="./Public/Tpl/leftMenu.html" />
    <!------------- 左侧菜单栏 leftMenu.html aside end-->

    <!-- 所有内容部分 -->
    <div class="content-wrapper">

        <!-- 内容顶部模板 topSection.html 开始-->
        <include file="./Public/Tpl/topSection.html" />
        <!-- 内容顶部模板 topSection.html 结束-->

        <!-- 主要内容 -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box pl-20 pt-20">
                        <form class="form-horizontal" role="form" action="{$Think.config.QS_BASE_PATH}/AuthGroup/save" method="post">
                            <input type="hidden" name="id" value="{$group['id']}" />
                            <div class="form-group">
                                <label class="col-sm-1 control-label text-left">名称</label>
                                <div class="col-sm-4">
                                    <input type="text" name="name" value="{$group['name']}" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label text-left">备注</label>
                                <div class="col-sm-4">
                                    <input type="text" name="remark" value="{$group['remark']}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label text-left">权 限</label>
                                <div class="col-sm-4">
                                    <volist name="ruleList" id="rule">
                                        <input type="checkbox" name="ruleId[]" value="{$rule.id}"
                                        <volist name=":explode(',',$group['rules'])" id="id">
                                            <if condition="$id == $rule.id ">checked</if>
                                        </volist>
                                        >{$rule.name}<br>

                                    </volist>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-5 text-right">
                                    <div class="btn-group m20 mb-20">
                                        <button type="submit" class="a0 btn_style btn1">提 交</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>


        <!-- /.content -->
    </div>


    <!------ 设置的滑动菜单 recent.html aside begin------>
    <include file="./Public/Tpl/recent.html" />
    <!------- 设置的滑动菜单 recent.html  aside end----->


    <div class="control-sidebar-bg"></div>

</div>

<script src="__PUBLIC__/js/jQuery-2.2.0.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.js"></script>
<script src="__PUBLIC__/js/app.js"></script>
<script src="__PUBLIC__/js/jquery.slimscroll.js"></script>
</body>
</html>
